<fieldset>
    <legend>Edit Drink</legend>
    <!-- TITLE -->
    <div class='form-group'>
        <label for='drink-name'>Name</label><br>
        <input class='form-control' id='drink-name' type='text' name='name' value='{{ drink.name }}'/>
    </div>

    <div class='form-group'>
        <label for='drink-name'>Price</label><br>
        <input class='form-control' id='drink-price' type='text' name='price' value='{{ drink.price }}'/>
    </div>

    <!-- DESCRIPTION -->
    <div class='form-group'>
        <label for='description'>Description</label><br>
        <input class='form-control' id='description' type='text' name='description' value='{{ drink.description }}' />
    </div>

    <!-- IMAGE -->
    <div class='form-group'>
        <label for='drink-images'>Image</label><br/>
        <p class='text-muted'>Add a picture or a picture url of the drink.</p>
        <!-- <input type="file" name="images" accept="image/*" value=""><br><br> -->
        <textarea class='form-control' id='drink-images' name='images' rows='10'>{{ "\n".join(drink.images) }}</textarea>
    </div>
</fieldset>
