<!-- {% extends 'base.html' %}

{% block content %}

<a href="/">Back to Home</a>

<h1>Drink: {{drink.name}}</h1>

<h2>Description: {{drink.description}}</h2>

<img src="{{drink.img_url}}"><br>

Cost: ${{drink.price}}

<br><br>
<a href="/edit/{{drink._id}}">Edit Drink</a>

<br><br>
<form action="/delete/{{drink._id}}" method="POST">
    <button type="submit">Delete Drink</button>
</form>

{% endblock %} -->

{% extends 'base.html' %}

{% block content %}
  <a href='/'>Back to Home</a>

  <div class='row'>
    <div class='col-sm-6 col-sm-offset-3'>
        <h1>{{ drink.title }}</h1>

        <h2>{{ drink.description }}</h2>
        {% for image in drink.images %}
            <div class="card"><div class="card-body">
                <img width="420" height="315" src="{{ image }}"></img>
            </div></div>
        {% endfor %}
        <p><a href='/drinks/{{ drink._id }}/edit'>Edit</a></p>
        <p><form method='POST' action='/drinks/{{ drink._id }}/delete'>
            <input type='hidden' name='_method' value='DELETE'>
            <button class='btn btn-primary' type='submit'>Delete</button>
        </form></p>
    </div>
  </div>

{% endblock %}
