{% extends 'base.html' %}

{% block content %}

<a href="/">Back to Home</a>

<h1>Edit Drink</h1>

<form action="/edit/{{candy._id}}" method="POST">
    Name of drink: <input type="text" name="name" value="{{drink.name}}"><br>
    Price of drink: <input type="number" name="price" value="{{drink.price}}"><br>
    Description: <input type="text" name="description" value="{{drink.description}}"><br>
    Image URL: <input type="text" name="img_url" value="{{drink.img_url}}"><br>
    <button type="submit">Submit</button><br>
</form>

{% endblock %}
